!!! 5
%html{lang: I18n.locale}
  %head
    %meta(charset = "UTF-8")
    = meta_tag "width=device-width, initial-scale=1.0", name: "viewport"
    =# meta_tag "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" # just for IE

    = favicon_tag "favicon.png"
    = favicon_tag "favicon.png", rel: 'apple-touch-icon'

    = stylesheet_link_tag "normalize", "all"

    %title
      = current_page.data.title || "The Middleman"

  %body
    %div{class: page_classes}
      = yield

    = javascript_include_tag  "all"

